@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
	background: #92ddcb;
}
h1 {
	font-family: 'Lobster', cursive;

}
p {
	font-family: 'Comfortaa', cursive;
}
.menu li {
	display: inline-block;
	margin: 10px;
}
.primero {
	color: #4b5d7c;
}
.textprimero {
	color: orangered;
}
.segundo {
	color: darkred;
}
.textsegundo{
 	color: blueviolet;
}
.tercero {
	color: yellow;
}
.texttercero {
	color: gainsboro;
}
.cuarto {
	color: mediumseagreen;
}
.textcuarto {
	color: orangered;
}
.caja {
	border: 1px solid black;
	margin-bottom: 20px;
}